<div class="title">
<app-header></app-header>

<div class="container">
<h1>Αγορά Πόντων</h1>

<div class="card-deck">
  <div class="card text-white bg-danger mb-3">
    <div class="card-body">
      <div class="card-header">Πακέτο των €10</div>
      <h4 class="card-title">Προσθήκη 10(+1) Πόντων Αγοράς</h4>
      <p class="card-text">Με αγορά του Πακέτου των €10 επωφελείστε επιβράβευση 1 επιπλέον Πόντου Αγοράς.</p>
      <button type="button" class="btn btn-secondary" >Επιλογή Πακέτου</button>
      <p class="card-text">Σύνολο Αγοράς: 11 Πόντοι</p>
    </div>
  </div>
  <div class="card text-white bg-success mb-3">
    <div class="card-body">
      <div class="card-header">Πακέτο των €20</div>
      <h4 class="card-title">Προσθήκη 20(+3) Πόντων Αγοράς</h4>
      <p class="card-text">Με αγορά του Πακέτου των €20 επωφελείστε επιβράβευση 3 επιπλέον Πόντων Αγοράς.</p>
      <button type="button" class="btn btn-secondary" >Επιλογή Πακέτου</button>
      <p class="card-text">Σύνολο Αγοράς: 23 Πόντοι</p>
    </div>
  </div>
  <div class="card text-white bg-info mb-3">
    <div class="card-body">
      <div class="card-header">Πακέτο των €30</div>
      <h4 class="card-title">Προσθήκη 30(+5) Πόντων Αγοράς</h4>
      <p class="card-text">Με αγορά του Πακέτου των €30 επωφελείστε επιβράβευση 5 επιπλέον Πόντων Αγοράς.</p>
      <button type="button" class="btn btn-secondary" >Επιλογή Πακέτου</button>
      <p class="card-text">Σύνολο Αγοράς: 35 Πόντοι</p>
    </div>
  </div>
</div>

    <!--<div class="row">      
      <div class="card text-white bg-danger mb-3" style="max-width: 20rem;top:30px;left:15%;text-align: center">
        
        <div class="card-header">Πακέτο των €10</div>
        <div class="card-body">
          <h4 class="card-title">Προσθήκη 10(+1) Πόντων Αγοράς</h4>
          <p class="card-text">Με αγορά του Πακέτου των €10 επωφελείστε επιβράβευση 1 επιπλέον Πόντου Αγοράς.</p>
          <div class="card-footer">Σύνολο Αγοράς: 11 Πόντοι</div>
        </div>  
      </div>
      
      <div class="card text-white bg-success mb-3" style="max-width: 20rem;top:30px;left:30%;text-align: center">  
        <div class="card-header">Πακέτο των €20</div>
        <div class="card-body">
          <h4 class="card-title">Προσθήκη 20(+3) Πόντων Αγοράς</h4>
          <p class="card-text">Με αγορά του Πακέτου των €20 επωφελείστε επιβράβευση 3 επιπλέον Πόντων Αγοράς.</p>
          <div class="card-footer">Σύνολο Αγοράς: 23 Πόντοι</div>
        </div>  
      </div>
      
      <div class="card text-white bg-info mb-3" style="max-width: 20rem;top:30px;left:45%;text-align: center">
        <div class="card-header">Πακέτο των €30</div>
        <div class="card-body">
          <h4 class="card-title">Προσθήκη 30(+5) Πόντων Αγοράς</h4>
          <p class="card-text">Με αγορά του Πακέτου των €30 επωφελείστε επιβράβευση 5 επιπλέον Πόντων Αγοράς.</p>
          <div class="card-footer">Σύνολο Αγοράς: 35 Πόντοι</div>
        </div>
      </div>  
    </div>-->
    <!--
    <br>
  
 
      <button type="button" class="btn btn-danger" style="position:absolute;left:10%">Επιλογή Πακέτου</button>
      <button type="button" class="btn btn-success" style="position:absolute;left:45%">Επιλογή Πακέτου</button>
      <button type="button" class="btn btn-info" style="position:absolute;left:80%">Επιλογή Πακέτου</button>
    -->
  
    <!--<div class="row">-->
    <div class="alert alert-dismissible alert-danger" style="max-width:20rem;top:77%;z-index:9999;right:0%;position:fixed">
        <strong>Η Αγορά Πόντων είναι οριστική και δεν είναι δυνατή η επιστροφή χρημάτων.</strong>
    </div>
    
    <br>

    <div class="card-deck">
        <div class="alert alert-dismissible alert-warning" style="max-width:20rem">
          <div class="card-body">
            <div class="card-header">Πακέτο των €20</div>
            <p class="card-text">Πόντοι που πρέπει να ξοδευτούν για να επωφεληθείτε επιπλέον επιβράβευση 5 Πόντων:</p>
            <div class="card-footer">"Πόντοι"</div>
          </div>
        </div>
        <div class="card text-white bg-warning mb-3" style="max-width:30rem">
          <div class="card-body">
            <h4 class="card-title">Ή Εισαγωγή Επιθυμητού Ποσού Αγοράς Πόντων</h4>
            <p class="card-text">Αναλογία Πόντων Αγοράς:Ευρώ -> 1:1.</p>
            <div class="card-text">
                <div class="form-group" style="max-width:30rem">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">€</span>
                      </div>
                      <input class="form-control" aria-label="Amount (to the nearest dollar)" type="text">
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                    </div>
                  </div>
            </div>
            <p class="card-text">
            <button type="button" class="btn btn-success">Υποβολή</button>
            <button type="button" class="btn btn-danger">Ακύρωση</button>
          </p>
          </div>
        </div>
      </div>
    <!--<div class="row">
    <div class="alert alert-dismissible alert-warning" style="max-width:18rem;max-height:30rem;left:40%">
      <h4 class="alert-heading">Ή Εισαγωγή Επιθυμητού Ποσού Αγοράς Πόντων</h4>
      <p class="mb-0">Αναλογία Πόντων Αγοράς:Ευρώ -> 1:1.</p>
    </div>
    <!--</div> 
    
    <!--<div class="row">
      <div class="card text-white bg-warning mb-3" style="max-width: 20rem;right:20%">
        <div class="card-body">
          <h4 class="card-title">Υπενθύμιση!</h4>
          <p class="card-text">Πόντοι που πρέπει να ξοδευτούν για να επωφεληθείτε επιπλέον επιβράβευση:</p>
          <div class="card-footer">"ΠΟΝΤΟΙ"</div>        
        </div>
      </div>
    </div>
  
    </div>  
      
    <div class="row">  
      <button type="button" class="btn btn-success" style="position:absolute;left:45%">Υποβολή</button>
      <button type="button" class="btn btn-danger" style="position:absolute;left:53%">Ακύρωση</button>
    </div>-->
  </div>
</div>
<app-footer></app-footer>