  .title {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5) ), url('../../assets/images/landing.jpg');
    background-size: cover;
    height: 100vh;
}

  h1 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
} 
  div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
}