.back {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5) ), url('../../assets/images/landing.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.center {
    margin: auto;
    width: 50%;
}

.center_some {
    text-align: center;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 50%
}

/*.ng-invalid {
    border: 2px solid red;
}
*/
