<div class="back">
  <app-header></app-header>

  <div class="center">
    <div class="card text-white bg-success mb-3">
      <div class="center_some">
          <div class="card-header">
            <h3>Εγγραφή</h3>
          </div>
      </div>
      <div class="card-body"> 
        
        <div class="center_some_more">
          <a routerLink="/signin" class="btn btn-info" id="button">Εγγραφή Γονέα</a>        
          &nbsp;
          <a routerLink="/provider-signin" class="btn btn-info" id="button">Εγγραφή Παρόχου</a>
          <br>
          <p>Παρακαλώ εισάγετε στοιχεία για την Εγγραφή Γονέα:</p>
          <br> 
        </div>
        <form (ngSubmit)="onSubmituser(f)" #f="ngForm">
          <div class="form-group">
            <label for="ufname"><b>Όνομα</b></label>
            <input type="text"
                    class="form-control" 
                    id="ufname"
                    placeholder="Εισαγωγή Ονόματος" 
                    name="ufname" 
                    [(ngModel)]="userformInfo.ufname"
                    required>	 
          </div>
          <div class="form-group">                           
            <label for="ulname"><b>Επίθετο</b></label>	
            <input type="text"
                    class="form-control" 
                    id="ulname"
                    placeholder="Εισαγωγή Επιθέτου" 
                    name="ulname" 
                    [(ngModel)]="userformInfo.ulname"
                    required>	
          </div>
          <div class="form-group">          			
            <label for="uemail"><b>Διεύθυνση Ηλ. Ταχυδρομείου</b></label>
            <input  type="text" 
                    class="form-control" 
                    id="uemail" 
                    placeholder="Εισαγωγή Διεύθυνσης Ηλ. Ταχυδρομείου example@example.com" 
                    type="email" 
                    name="uemail"
                    [(ngModel)]="userformInfo.uemail"
                    required
                    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    #uemail="ngModel">   
            <div *ngIf="!uemail.valid">
              <small>
                Μη Έγκυρη Διεύθυνση Ηλ. Ταχυδρομείου
              </small>
            </div> 
          </div>
          <div class="form-group">       
            <label for="upassword"><b>Κωδικός Πρόσβασης</b></label>
            <input type="text"
                    class="form-control" 
                    id="upassword"
                    placeholder="Εισαγωγή Κωδικού Πρόσβασης" 
                    name="upassword" 
                    [(ngModel)]="userformInfo.upassword"
                    required>
          </div>
          <div class="form-group">          
            <label for="upassword_repeat"><b>Επανάληψη Κωδικού Πρόσβασης</b></label>
            <input type="text"
                    class="form-control" 
                    id="upassword_repeat"
                    placeholder="Επαναλάβετε τον Κωδικό Πρόσβασης" 
                    name="upassword_repeat" 
                    [(ngModel)]="userformInfo.upassword_repeat"
                    required> 
          </div>          
          <br>
          <div class="center_some">       
            <p>Δημιουργώντας Λογαριασμό συμφωνείτε με τους : 
                <a routerLink="/home"> Όρους και την Πολιτική μας</a>
            </p>
            <button type="submit" class="btn btn-warning" [disabled]="!f.valid">Δημιουργία Λογαριασμού</button>
            <br>
            <br>           
            <a routerLink="/home" class="btn btn-danger" id="button">Ακύρωση</a>
          </div>    
        </form>        
                
      </div>
    </div>
  </div>
  <app-footer></app-footer>  
</div>