.background_image { 
    position:relative;
    height: 180vh;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5) ), url('../../assets/images/landing.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

#search_id {   
    margin: auto;
    width: 78%;
    background-color: lightblue;
}

.search-title {
    margin: auto;
}

.form-control {
    margin: auto;
    left: 1%;
}

#define {
    position: absolute;
    width: 50%;
    left: 0%;
}

#back {
    position: absolute;
    width: 10%;
    left: 55%; 
}

#back1 {
    position: absolute;
    width: 10%;
    left: 48%; 
}

#go {
    font-size: 120%;
    color: btn-info;
}

#go:hover {
    text-decoration: none;
    text-transform: uppercase;
}

.position {
    left: 20%;
}

.distance {
    right: 0%;
}

.tabs {
    margin: auto;
}

#filters_id {
    position: absolute;
    left: 1%;
    width: 30%;
    background-color: lightblue;
}

.filters-title {
    position: absolute;
    left: 38%;
}

.filter {
    position: absolute;
    left: 7%;
}

#menu {
    position: absolute;
    left: 4%;
    width: 85%;
}

#price {
    position: absolute;
    left: 6%;
}

#sex {
    left: 21%;
}

#submit {
    left: 34%;
}

.list_results {
    position: absolute; 
    right: 4%;
    width: 65%;
    height:20%;
}

#image {
    width: 30%;
}

#title {
    position: absolute;
    right: 24%;
    top: 5%;
    font-size: 140%;
}

#text {
    position: absolute;
    left: 31%; 
    bottom: 20%;
    font-size:85%;
}

#button {
    position: absolute;
    right: 33%;
    bottom: 3%;
    padding: 0% 2%;
}

agm-map {
    height: 600px;
  }

