.card {
    position: absolute;
    left: 1%;
    width: 30%;
    height: 43%;
    top: 2%;
    background-color: lightblue;
}

.card-title {
    position: absolute;
    left: 34%;
}

.form-control {
    left: 3%;
}

#go {
    font-size: 20px;
    color: rgb(33, 172, 63);
}

#go:hover {
    text-decoration: none;
    text-transform: uppercase;
}

.position {
    position: absolute;
    left: 35%;
}

#input {
    left: 23%;
}

.distance {
    position: absolute;
    left: 35%;
}

#toolbar {
    position: absolute;
    left: 13%;
}