<div class="card">
    <h4 class="card-title">Αναζήτηση</h4>	
    <div class="row mb-5"></div> 
    <div class="input-group">
        <input type="text" class="form-control" autocomplete="on" placeholder="Είδος, περιοχή, ηλικία">
        <button class="btn btn-link" type="button" id="go">Βρες!</button>
    </div>
    <br>
    <h5 class="position">Τοποθεσία</h5>
    <br>	
    <div class="input-group" id="input">
       <button type="button" class="btn btn-info">Τρέχουσα</button>
       &nbsp;
       <button type="button" class="btn btn-info">Ορισμός</button>
    </div>
    <br>
    <h5 class="distance">Απόσταση</h5>
    <br>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" id="toolbar">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-info">< 1</button>
            <button type="button" class="btn btn-info">< 5</button>
            <button type="button" class="btn btn-info">< 10</button>
            <button type="button" class="btn btn-info">< 25</button>
            <button type="button" class="btn btn-info">< 100</button>
        </div>
    </div>
    <br>
    <br>
</div>