<div class="title">
  <app-header></app-header>
  
  <div class="container">
    <div id="header">
      <h1></h1>
      <div id="header-content">Δημιουργία Δραστηριότητας</div>
    </div>
    <form>
      <fieldset>
        <legend style="color:#fff">Στοιχεία Δραστηριότητας</legend>
        <small id="emailHelp" class="form-text text-muted"style="color:#fff">(* Υποχρεωτικά Πεδία)</small>
        <div class="form-group">
          <div class="col-lg-8">
            <label for="exampleInputEmail1" style="color:#fff">Όνομα Δραστηριότητας*</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Εισαγωγή Ονόματος">
            <small id="emailHelp" class="form-text text-muted"style="color:#fff">Το όνομα προβολής της δραστηριότητας στη λίστα.</small>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <label for="exampleSelect1" style="color:#fff">Επιλογή Κατηγορίας 1*</label>
              <select class="form-control" id="exampleSelect1">
                <option>Επιλέξτε Κατηγορία</option>
                <option>Αθλητισμός</option>
                <option>Θέατρο</option>
                <option>Διασκέδαση</option>
                <option>Εκπαίδευση</option>
                <option>Χειροτεχνικά</option>
                <option>Παιδότοπος</option>
                <option>Μουσική</option>
                <option>Καλλιτεχνικά</option>
              </select>
              <small id="emailHelp" class="form-text text-muted"style="color:#fff">Η επιλογή τουλάχιστον μίας κατηγορίας είναι υποχρεωτική.</small>
            </div>  
            <div class="col-lg-4">
              <label for="exampleSelect1" style="color:#fff">Επιλογή Κατηγορίας 2</label>
              <select class="form-control" id="exampleSelect1">
                <option>Επιλέξτε Κατηγορία</option>
                <option>Αθλητισμός</option>
                <option>Θέατρο</option>
                <option>Διασκέδαση</option>
                <option>Εκπαίδευση</option>
                <option>Χειροτεχνικά</option>
                <option>Παιδότοπος</option>
                <option>Μουσική</option>
                <option>Καλλιτεχνικά</option>
              </select>
            </div>
            <div class="col-lg-4">
              <label for="exampleSelect1" style="color:#fff">Επιλογή Κατηγορίας 3</label>
              <select class="form-control" id="exampleSelect1">
                <option>Επιλέξτε Κατηγορία</option>
                <option>Αθλητισμός</option>
                <option>Θέατρο</option>
                <option>Διασκέδαση</option>
                <option>Εκπαίδευση</option>
                <option>Χειροτεχνικά</option>
                <option>Παιδότοπος</option>
                <option>Μουσική</option>
                <option>Καλλιτεχνικά</option>
              </select>
            </div>  
          </div>  
        </div>
        <div class="form-group">
          <div class="col-lg-8">  
            <label for="exampleInputEmail1" style="color:#fff">Τοποθεσία/Διεύθυνση Διεξαγωγής Δραστηριότητας*</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Εισαγωγή Τοποθεσίας">
            <small id="emailHelp" class="form-text text-muted"style="color:#fff">Τοποθεσία/Διεύθυνση όπου θα λάβει μέρος η παρών δραστηριότητα.</small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-4">  
            <label for="exampleInputEmail1" style="color:#fff">Επιλογή Κατηγορίας Ηλικίας*</label>
            <select class="form-control" id="exampleSelect1">
              <option>Επιλέξτε Κατηγορία</option>
              <option>1-3 ετών</option>
              <option>3-5 ετών</option>
              <option>5-12 ετών</option>
              <option>12-18 ετών</option>
            </select>
            <small id="emailHelp" class="form-text text-muted"style="color:#fff">Ομάδες ηλικιών που θα μπορούν να συμμετάσχουν στη δραστηριότητα.*</small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-4">  
            <label for="exampleInputEmail1" style="color:#fff">Επιλογή Φύλο Παιδιών*</label>
            <select class="form-control" id="exampleSelect1">
              <option>Επιλέξτε Φύλο</option>
              <option>Αγόρια</option>
              <option>Κορίτσια</option>
              <option>Και τα δύο φύλα</option>
            </select>
            <small id="emailHelp" class="form-text text-muted"style="color:#fff">Για ποιο φύλο παιδιών προορίζεται η δραστηριότητα.*</small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-4">  
            <label for="exampleInputEmail1" style="color:#fff">Ορισμός Τιμής Πόντων ανα εισιτήριο*</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Τιμή Εισιτηρίου">
            <small id="emailHelp" class="form-text text-muted"style="color:#fff">Πόντοι που πρέπει να ξοδέψει ένας γονέας για αγορά εισιτηρίου.</small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-4">  
            <label for="exampleInputEmail1" style="color:#fff">Ορισμός Αριθμού Διαθέσιμων εισιτηρίων*</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Αριθμός Εισιτηρίου">
            <small id="emailHelp" class="form-text text-muted"style="color:#fff">Αριθμός εισιτηρίων που διατίθονται για τη δραστηριότητα.</small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-8">
            <label for="exampleTextarea" style="color:#fff">Περιγραφή Δραστηριότητας</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-4">
            <label for="exampleInputFile" style="color:#fff">Εικόνα/Φωτογραφία Δραστηριότητας*</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Μέγιστο μέγεθος αρχείου: -- ΜΒ</small>
          </div>
        </div>     
      </fieldset>
    </form>
  <div class="row">
    <div class="col-lg-4">
      <button type="button" class="btn btn-success">Δημιουργία και Δημοσιοποίηση Δραστηριότητας</button>
    </div>  
    <div class="col-lg-8"> 
      <button type="button" class="btn btn-danger">Ακύρωση</button>  
    </div>
  </div>
</div>
<app-footer></app-footer>