<div class="title">
  <app-header></app-header> 
    <div class="container">   
      <div class="row">  
        <div class="col-lg-12">
          <h1 id="space">Best events in town!</h1> 
          <br>
          <div class="input-group">
            <input type="text" class="form-control" id="searchBar" autocomplete="on">
            <button class="btn btn-link" type="button" id="go">Search!</button>
          </div>  
        </div>
      </div>   
    </div> 
</div>
 
<div class="main"> 
</div>

<app-footer></app-footer>