<div class="title">
  <app-header></app-header> 
    <div class="container">   
      <div class="row">  
        <div class="col-lg-12">
          <h1 id="quote">Οι καλύτερες εκδηλώσεις στη πόλη!</h1> 
          <a routerLink="/results">
              <button class="btn btn-warning" type="button" id="search">Αναζήτηση</button>
          </a>
        </div>
      </div>  
      <div class="row">
          <div class="col-lg-12">
            <h3>Πρόσφατες Εκδηλώσεις</h3>
            <div class="grid grid-pad">
              <a *ngFor="let event of events" class="col-1-4">
                <div class="module event">
                  <a routerLink="/results/{{event.id}}">
                    <h4>{{event.title}}</h4>
                    <img class="card-img-top" id="image" src="{{event.image}}" alt="Card image">
                  </a>
                </div>
              </a>
            </div>
          </div>
      </div> 
    </div> 
</div>  

<app-footer></app-footer>