* {
  font-family: 'Roboto', sans-serif;
}

#searchBar {
   height: 70px;
   font-size: 30px;
}

#go {
    font-size: 20px;
    color: rgb(247, 186, 73);
}

#go:hover {
    text-decoration: none;
    text-transform: uppercase; 
}

#space {
    padding-top: 40vh;
}

  
  .title {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5) ), url('../../assets/images/landing.jpg');
    background-size: cover;
    height: 120vh;
  }
  
  h1 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
  } 
  
  .main {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 12%;
  }