* {
    font-family: 'Roboto', sans-serif;
}

footer .row {
    display: flex;
}

footer {
    padding: 0 0;
}

footer .img {
    width: 1rem;
    height: 1rem;
}
.footer-info {
    background-color: rgb(12,77,100);
    justify-content: center;
}
.footer-copyrigth {
    background-color: rgb(17, 123, 158);
    justify-content: center;
    color: white;
}