<div class="back_img">    
    <div class="container">  
        <div class="row mb-3"></div>   
        <div class="row">
            <!-- Event main info -->
            <div class="col-12 col-lg-8">
                <div class="card border-light mb-3">
                        <div class="card-body">
                                <h3 class="card-title title">Τίτλος Δραστηριότητας</h3>
                                <span class="badge badge-info">Είδος</span>
                                <span class="badge badge-info">Είδος</span>
                        </div>
                        <a href="" data-toggle="modal" data-target="#productModal">
                                <img class="img-fluid" src="https://dummyimage.com/800x800/55595c/fff" alt="Card image"/>
                        </a>
                    </div>
                </div>

            <!-- Buy ticket -->
            <div class="col-12 col-lg-4 buy_ticket_block">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <h3 class="card-title">Αγορά Εισιτηρίου</h3>
                        <hr class="my-4">
                        <span>
                            <div class="label_text">Τιμή : </div>
                            <p class="price_quant"> 99.00 </p>
                        </span>
                        <span>
                            <div class="label_text">Διαθέσιμα : </div>
                            <p class="price_quant"> 150 </p>
                        </span>
                        <!-- <p class="price_quant">Τιμή: 99.00 $</p> -->
                        <!-- <p class="price_quant" >Διαθέσιμα: 150</p> -->
                        <form method="get" action="cart.html">
                            <div class="form-group">
                                <div class="label_text">Ποσότητα :</div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control"  id="quantity" name="quantity" min="1" max="100" value="1">
                                    <div class="input-group-append">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <a href="cart.html" class="btn btn-success btn-lg btn-block text-uppercase">
                                <i class="fa fa-shopping-cart"></i> Αγορα
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <!-- Event Date -->
                <div class="col-lg-3">
                    <div class="card border-light mb-3">
                        <div class="card-header bg-info text-white text-uppercase"><i class="fa fa-calendar-check-o"></i> Ημερομηνια</div>
                        <div class="card-body">
                            <p class="card-text info_text">Ημερομηνία</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card border-light mb-3">
                        <div class="card-header text-white bg-info text-uppercase"><i class="fa fa-location-arrow"></i> Τοποθεσια</div>
                        <div class="card-body">
                            <p class="card-text info_text">Τοποθεσία</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                        <div class="card border-light mb-3">
                            <div class="card-header text-white bg-info text-uppercase"><i class="fa fa-child"></i> Ηλικια</div>
                            <div class="card-body">
                                <p class="card-text info_text"> 8 - 12 </p>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-3">
                        <div class="card border-light mb-3">
                            <div class="card-header text-white bg-info text-uppercase"><i class="fa fa-venus-mars"></i> Φυλο</div>
                            <div class="card-body">
                                <p class="card-text info_text">Αγόρι</p>
                            </div>
                        </div>
                    </div>
        </div>

        <div class="row">
            <!-- Event Description -->
            <div class="col-12">
                <div class="card border-light mb-3">
                    <div class="card-header bg-info text-white text-uppercase"><i class="fa fa-align-justify"></i> Περιγραφη</div>
                    <div class="card-body">
                        <p class="card-text">
                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>