* {
    font-family: 'Roboto', sans-serif;
}

#title_font {
    font-weight: bold;
}
.card_height {
    height: 90%;
}
.buy_ticket_block {
    height: 100%;
    text-align: center;
}
.buy_ticket_block .price_quant {
    color: #c01508;
    /* text-align: center; */
    font-weight: bold;
    font-size: 200%;
    /* margin-bottom: 0; */
}
.label_text {
    text-align: left;
}
.info_text{
    text-align: center;
}
.back_img {  
    position:relative;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5) ), url('../../assets/images/landing.jpg') repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}