<div class="back_img">
    <app-header></app-header>
    <div class="container" *ngIf="event">
        <div class="row mb-3">
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="goBack()">Πίσω στα αποτελέσματα!</button>
        </div>
        <div class="row">
            <!-- Event main info -->
            <div class="col-12 col-lg-8">
                <div class="card border-light mb-3 card_height">
                        <div class="card-body">
                                <h3 class="card-title" id="title_font">{{event.title}}</h3>
                                <span *ngFor="let ev of event.type">
                                    <span class="badge badge-info">{{ev}}</span>
                                </span>
                        </div>
                        <!-- <a href="" data-toggle="modal" data-target="#productModal"> -->
                        <img class="img-fluid img" src="{{event.image}}" alt="Card image"/>
                        <!-- </a> -->
                    </div>
                </div>

            <!-- Buy ticket -->
            <div class="col-12 col-lg-4 buy_ticket_block">
                <div class="card bg-light mb-3 card_height">
                    <div class="card-body">
                        <h3 class="card-title">Αγορά Εισιτηρίου</h3>
                        <hr class="my-4">
                        <span>
                            <div class="label_text">Τιμή : </div>
                            <p class="price_quant"> {{event.price | number}} </p>
                        </span>
                        <span>
                            <div class="label_text">Διαθέσιμα εισιτήρια: </div>
                            <p class="price_quant"> {{event.numberOfTickets | number}} </p>
                        </span>

                        <form *ngIf="event.numberOfTickets && !show">
                            <div class="form-group">
                                <div class="label_text">Ποσότητα :</div>
                                <div class="input-group justify-content-center mb-3">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-danger btn-number" data-field="quantity" (click)="minus()">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input class="form-control-static text-center"  id="quantity" name="quantity" value="{{quantity}}">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-success btn-number" data-field="quantity" (click)="plus()">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" (click)="buy_tickets()" class="btn btn-success btn-lg btn-block text-uppercase">
                                <i class="fa fa-shopping-cart"></i> Αγορα
                            </button>
                        </form>
                        <div class="alert alert-dismissible alert-danger" *ngIf="!user">
                          <strong>Κάντε <a routerLink="/signin"> ΕΓΓΡΑΦΗ</a> για αγορά εισιτηρίων!</strong>
                        </div>
                        <div class="alert alert-dismissible alert-danger" *ngIf="!event.numberOfTickets">
                            <strong>Τα εισιτήρια εξαντλήθηκαν!</strong>
                        </div>
                        <div class="row justify-content-center" *ngIf="show">
                          <div class="card border-info">
                              <div class="card-body">
                                <h5 class="card-title">Επιβεβαίωση αγοράς</h5>
                                <div class="card-text" id="checkout"> {{quantity}} εισιτήρια = {{total}} πόντοι</div>
                              </div>
                              <div class="card-footer justify-content-between">
                                  <button type="button" (click)="checkout()" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left" class="btn btn-success btn-sm text-uppercase">Ολοκληρωση</button>
                                  <button type="button" (click)="buy_close()" class="btn btn-danger btn-sm text-uppercase">Ακυρο</button>
                              </div>
                          </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
                <!-- Event Date -->
                <div class="col-lg-3">
                    <div class="card border-light mb-3">
                        <div class="card-header bg-info text-white text-uppercase"><i class="fa fa-calendar-check-o"></i> Ημερομηνια</div>
                        <div class="card-body">
                            <p class="card-text info_text">{{event.date}} <!--| date:'medium'--></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card border-light mb-3">
                        <div class="card-header text-white bg-info text-uppercase"><i class="fa fa-location-arrow"></i> Τοποθεσια</div>
                        <div class="card-body">
                            <p class="card-text info_text">{{event.location}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                        <div class="card border-light mb-3">
                            <div class="card-header text-white bg-info text-uppercase"><i class="fa fa-child"></i> Ηλικια</div>
                            <div class="card-body">
                                <p class="card-text info_text"> {{event.age}}</p>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-3">
                        <div class="card border-light mb-3">
                            <div class="card-header text-white bg-info text-uppercase"><i class="fa fa-venus-mars"></i> Φυλο</div>
                            <div class="card-body">
                                <p class="card-text info_text">{{event.sex}}</p>
                            </div>
                        </div>
                    </div>
        </div>

        <div class="row">
            <!-- Event Description -->
            <div class="col-12">
                <div class="card border-light mb-3">
                    <div class="card-header bg-info text-white text-uppercase"><i class="fa fa-align-justify"></i> Περιγραφη</div>
                    <div class="card-body">
                        <p class="card-text">{{ event.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
