<div class="back">
  <app-header></app-header>

  <div class="center">
    <div class="card text-white bg-success mb-3">
      <div class="center_some">
          <div class="card-header">
            <h3>Εγγραφή</h3>
          </div>
      </div>
      <div class="card-body">

        <div class="center_some_more">
          <a routerLink="/signup" class="btn btn-info" id="button">Εγγραφή Γονέα</a>
          &nbsp;
          <a routerLink="/provider-signup" class="btn btn-info" id="button">Εγγραφή Παρόχου</a>
          <br>
          <br>
          <p>Παρακαλώ εισάγετε στοιχεία για την Εγγραφή Γονέα:</p>        
        </div>
        <form #f="ngForm">
          <div class="form-group">
            <label for="ufname"><b>Όνομα</b></label>
            <input type="text"
                    class="form-control"
                    id="ufname"
                    placeholder="Εισαγωγή Ονόματος"
                    name="ufname"
                    required>
          </div>
          <div class="form-group">
            <label for="ulname"><b>Επίθετο</b></label>
            <input type="text"
                    class="form-control"
                    id="ulname"
                    placeholder="Εισαγωγή Επιθέτου"
                    name="ulname"
                    required>
          </div>
          <div class="form-group">
            <label for="uemail"><b>Διεύθυνση Ηλ. Ταχυδρομείου</b></label>
            <input  type="text"
                    class="form-control"
                    id="uemail"
                    placeholder="Εισαγωγή Διεύθυνσης Ηλ. Ταχυδρομείου example@example.com"
                    type="email"
                    name="uemail"
                    [(ngModel)]="formInfo.username"
                    required
                    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    #uemail="ngModel">
            <div *ngIf="!uemail.valid">
              <small>
                Μη Έγκυρη Διεύθυνση Ηλ. Ταχυδρομείου
              </small>
            </div>
          </div>
          <div class="form-group">
            <label for="password"><b>Κωδικός Πρόσβασης</b></label>
            <input type="password"
                    class="form-control"
                    id="password"
                    placeholder="Εισαγωγή Κωδικού Πρόσβασης"
                    name="password"
                    [(ngModel)]="formInfo.password"
                    required
                    #password="ngModel">
          </div>
          <div class="form-group">
            <label for="passwordrepeat"><b>Επανάληψη Κωδικού Πρόσβασης</b></label>
            <input type="password"
                    class="form-control"
                    id="passwordrepeat"
                    placeholder="Επαναλάβετε τον Κωδικό Πρόσβασης"
                    name="passwordrepeat"
                    [(ngModel)]="formInfo.password_repeat"
                    required
                    #passwordrepeat="ngModel">
            <div *ngIf="password.value != passwordrepeat.value">
              <small>
                Οι δύο κωδικοί δεν είναι ίδιοι.
              </small>
            </div>                          
          </div>
          <br>
          <div class="center_some">
            <p>Δημιουργώντας Λογαριασμό συμφωνείτε με τους :
                <a routerLink="/terms"> Όρους και την Πολιτική μας</a>
            </p>
            <button (click)="signup()" class="btn btn-primary" [disabled]="(!f.valid) || (password.value != passwordrepeat.value)">Δημιουργία Λογαριασμού</button>
            <br>
            <br>
            <a routerLink="/home" class="btn btn-danger" id="button">Ακύρωση</a>
          </div>
        </form>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
