<nav class="navbar fixed-top navbar-expand-lg justify-content-between">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../assets/images/logo.png" width="100" heigth="100" class="d-inline-block align-top" alt="">
    </a>
    <div>
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Σύνδεση</button>
        &nbsp;
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Εγγραφή</button>
    </div>
  </nav>
<!-- <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar_css">
    <img id="logo" src="../../assets/images/logo.png"/>
  
    <div class="buttons_css">
      <button type="button" class="btn btn-warning">Σύνδεση</button>
      &nbsp;
      <button type="button" class="btn btn-danger">Εγγραφή</button>
    </div>
  </nav>
</header> -->