* {
    font-family: 'Roboto', sans-serif;
}

.navbar_css {
    width: 2000px;
    height: 100px;
    position: fixed;
    z-index:9999;
}

.buttons_css {
    right: 80px;
    top: 25px;
    position: fixed;
    z-index:9999;
}

#logo {
    width:160px;
    height:120px;
    position: fixed;
    z-index:9999;
}

