<header>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-7ELRJF5/u1pkLd0W7K793Y7ZCb1ISE8FjEKiDAwHD3nSDbA2E9Txc423ovuNf1CV" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <img id="logo" src="../../assets/images/logo.png" style="width:160px;height:120px"/>
  
  <div style="position: absolute;right: 80px;top: 25px" class="sticky">
    <button type="button" class="btn btn-warning">Σύνδεση</button>
    &nbsp;
    <button type="button" class="btn btn-danger">Εγγραφή</button>
  </div>

</header>