<div class="back">
    <app-header></app-header>
  
    <div class="center">
      <div class="card text-white bg-success mb-3">
        <div class="center_some">
            <div class="card-header">
              <h3>Εγγραφή</h3>
            </div>
        </div>
        <div class="card-body"> 
          
          <div class="center_some_more">
            <a routerLink="/signup" class="btn btn-info" id="button">Εγγραφή Γονέα</a>        
            &nbsp;
            <a routerLink="/provider-signup" class="btn btn-info" id="button">Εγγραφή Παρόχου</a>
            <br>
            <p>Παρακαλώ εισάγετε στοιχεία για την Εγγραφή Παρόχου:</p>
            <br> 
          </div>
          <form (ngSubmit)="onSubmitprovider(f)" #f="ngForm">
            <div class="form-group">       
                <label for="company_name"><b>Όνομα Εταιρείας</b></label>
                <input type="text"
                        class="form-control" 
                        id="company_name"
                        placeholder="Εισαγωγή Ονόματος Εταιρείας" 
                        name="company_name" 
                        [(ngModel)]="providerformInfo.company_name"
                        required>
            </div>
            <div class="form-group">       
                <label for="afm"><b>Α.Φ.Μ</b></label>
                <input type="text"
                        class="form-control" 
                        id="afm"
                        placeholder="Εισαγωγή Α.Φ.Μ" 
                        name="afm" 
                        [(ngModel)]="providerformInfo.afm"
                        required>
            </div>   
            <div class="form-group">       
                <label for="phone"><b>Τηλέφωνο Επικοινωνίας</b></label>
                <input type="text"
                        class="form-control" 
                        id="phone"
                        placeholder="Εισαγωγή Τηλεφώνου Επικοινωνίας  " 
                        name="phone" 
                        [(ngModel)]="providerformInfo.phone"
                        required>
            </div>                      
            <div class="form-group">
              <label for="pfname"><b>Όνομα</b></label>
              <input type="text"
                      class="form-control" 
                      id="pfname"
                      placeholder="Εισαγωγή Ονόματος" 
                      name="pfname" 
                      [(ngModel)]="providerformInfo.pfname"
                      required>	 
            </div>
            <div class="form-group">                           
              <label for="plname"><b>Επίθετο</b></label>	
              <input type="text"
                      class="form-control" 
                      id="plname"
                      placeholder="Εισαγωγή Επιθέτου" 
                      name="plname" 
                      [(ngModel)]="providerformInfo.plname"
                      required>	
            </div>
            <div class="form-group">          			
              <label for="pemail"><b>Διεύθυνση Ηλ. Ταχυδρομείου</b></label>
              <input  type="text" 
                      class="form-control" 
                      id="pemail" 
                      placeholder="Εισαγωγή Διεύθυνσης Ηλ. Ταχυδρομείου example@example.com" 
                      type="email" 
                      name="pemail"
                      [(ngModel)]="providerformInfo.pemail"
                      required
                      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                      #pemail="ngModel">   
              <div *ngIf="!pemail.valid">
                <small>
                  Μη Έγκυρη Διεύθυνση Ηλ. Ταχυδρομείου
                </small>
              </div> 
            </div>
            <div class="form-group">       
              <label for="ppassword"><b>Κωδικός Πρόσβασης</b></label>
              <input type="text"
                      class="form-control" 
                      id="ppassword"
                      placeholder="Εισαγωγή Κωδικού Πρόσβασης" 
                      name="ppassword" 
                      [(ngModel)]="providerformInfo.ppassword"
                      required>
            </div>
            <div class="form-group">          
              <label for="ppassword_repeat"><b>Επανάληψη Κωδικού Πρόσβασης</b></label>
              <input type="text"
                      class="form-control" 
                      id="ppassword_repeat"
                      placeholder="Επαναλάβετε τον Κωδικό Πρόσβασης" 
                      name="ppassword_repeat" 
                      [(ngModel)]="providerformInfo.ppassword_repeat"
                      required> 
            </div>          
            <br>
            <div class="center_some">       
              <p>Δημιουργώντας Λογαριασμό συμφωνείτε με τους : 
                  <a routerLink="/home"> Όρους και την Πολιτική μας</a>
              </p>
              <button type="submit" class="btn btn-warning" [disabled]="!f.valid">Δημιουργία Λογαριασμού</button>
              <br>
              <br>           
              <a routerLink="/home" class="btn btn-danger" id="button">Ακύρωση</a>
            </div>    
          </form>        
                  
        </div>
      </div>
    </div>
    <app-footer></app-footer>  
  </div>
