<div class="card">
    <h4 class="card-title">Φίλτρα</h4>	
    <br>
    <h5 class="filter">Είδος</h5>	
    <br>
    <div class="form-group" id="menu">
        <select class="custom-select">
          <option selected="">Κατηγορίες</option>
          <option value="1">Αθλητισμός</option>
          <option value="2">Ζωγραφική</option>
          <option value="3">Θέατρο</option>
          <option value="4">Κινηματογράφος</option>
          <option value="5">Παιδότοποι</option>
          <option value="6">Μουσική</option>
        </select>
    </div>
    <br>
    <br>
    <h5 class="filter">Ηλικία</h5>		
    <br>		
    <div class="form-group" id="menu">
        <select class="custom-select">
          <option selected="">Κατηγορίες</option>
          <option value="1">1-3 ετών</option>
          <option value="2">3-5 ετών</option>
          <option value="3">5-12 ετών</option>
          <option value="4">12-18 ετών</option>		
        </select>
    </div>	
    <br>
    <br>
    <h5 class="filter">Ημερομηνία</h5>
    <br>
    <div class="form-group" id="menu">
        <select class="custom-select">
          <option selected="">Κατηγορίες</option>
          <option value="1">Σήμερα</option>
          <option value="2">Αύριο</option>
          <option value="3">Αυτή την εβδομάδα</option>
          <option value="4">Αυτό το μήνα</option>
        </select>
    </div>	
    <br>
    <br>
    <h5 class="filter">Τιμή</h5>
    <br>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" id="price">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-info">< 5</button>
            <button type="button" class="btn btn-info">< 10</button>
            <button type="button" class="btn btn-info">< 20</button>
            <button type="button" class="btn btn-info">< 50</button>
            <button type="button" class="btn btn-info">< 100</button>
        </div>
    </div> 
    <br>
    <br>
    <h5 class="filter">Φύλο</h5>
    <br>
    <div class="input-group" id="sex">
        <button type="button" class="btn btn-info">Αγόρι</button>
        &nbsp;
        &nbsp;
        <button type="button" class="btn btn-info">Κορίτσι</button>
      </div>	
      <br>
</div>